<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <property name="MAX_MESSAGE_LOG_LENGTH" value="${MAX_MESSAGE_LOG_LENGTH:-220000}"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} - %highlight([%level]) - %cyan([%thread]) - [%mdc] - from %logger in %thread %n%.-${MAX_MESSAGE_LOG_LENGTH}message%n%xException%n</pattern>
        </encoder>
    </appender>

    <logger name="com.topjava" level="info"/>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>